.background    { background: #110705;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #b51f0c; }
.wall          { background: #3e140d;   }
.floater       { background: rgb(77, 41, 33);   }
.floater2      { background: #29140f;   }
.coin          { background: #dec24d;   } /* */

.game {
  position: relative;
}
